%p show
-# .card
-#     .card_titles
-#         = @board.title
-#     -if user_signed_in? && current_user.has_written?(@board) 
-#         .dropdowns
-#             = image_tag 'actions.svg', class: 'dropbtn'
-#             .dropdown_content.mini
-#                 = link_to 'Edit', edit_board_path(@board)
-#                 = link_to 'Delete', board_path(@board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
-#     .card_content
-#         .card_details
-#             = @board.content  
-#         = image_tag 'avatar.jpg'
-#         %div
-#             %p= @board.author_name
-#             %p= @board.display_created_at