.container
    %h2= @board.title 
    %p= @board.content
    - @tasks.each do |task|
        = render 'commons/task', task: task
    = link_to new_board_task_path(@board) do
        .new_btn
            %p ＋ Add New Card
