@import './variables';

$avatar-size: 32px;

.card {
  background-color: #F4F4F4;
  margin: 16px 20px;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5%;

  &_title {
    font-size: 18px;
    margin: 8px 16px;
  }
  
  &_content {
    padding: 8px 16px;
}
    
&_detail {
    cursor: pointer;
    display: block;
    position: relative;
    font-size: 14px;
    max-height: 40px;
    overflow: hidden;     
}
img {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
    margin-right: 8px;
    margin-top: 8px;
    display: flex;
}

p {
    display: inline-block;
    font-size: 10px;
}
}
 
