@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;
$back-icon-size: 16px;


.header {
    border-bottom: 1px solid #c5c1c1;
    display: flex;
    justify-content: space-between;
    p {
        font-size: 20px;
        margin: 15px 20px;
        // padding-top: 10px;
    }


    &_avatar {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 100%;
        margin: ($avatar-size - $back-icon-size) / 2 8px 0;
     }
     
}  